<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Proyecto Final Symfony{% endblock %}</title>
 
   {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    {% endblock %}

</head>
<body>
  <div class="wrapper">
      <div class="container-fluid">
        <header class="header">
            <img src="assets/img/logo.svg" alt="Maleteo">
            <div class="div-button">
            {% if is_granted('ROLE_USER') %}
            <a class="btn btn-primary button-p " href="{{ path('app_logout')}} ">Logout </a>
            {% else %}
            <a class="btn btn-primary button-p " href="{{ path('app_login')}}">Login</a>
            <a class="btn btn-primary button-p " href="{{ path('app_register')}} ">Registrate </a>
            {% endif %}
            </div>
            
        </header>
      </div>
  </div>





  <main>
  {% block body %}
    <div class="jumbo">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="jumbo__ww-title">
                <div class="jumbo__w-title">
                  <h1 class="jumbo__title heading1">
                    Gana dinero guardando equipaje a viajeros como tu
                  </h1>
                  <ul class="jumbo__app-btns">
                    <li>
                      <a href="#">
                        <img src="assets/img/app-store.svg"
                             alt=""
                             class="jumbo__app-btn">
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="assets/img/google-play.svg"
                             alt=""
                             class="jumbo__app-btn">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="container-fluid">
        <section class="howworks">
          <h2 class="howworks__title heading2">
            ¿Cómo funciona?
          </h2>
          <ol class="howworks__steps row">
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">1</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Date de alta
                  </p>
                  <p class="howworks__step-txt">
                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                  </p>
                </div>
              </div>
            </li>
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">1</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Date de alta
                  </p>
                  <p class="howworks__step-txt">
                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                  </p>
                </div>
              </div>
            </li>
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">1</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Date de alta
                  </p>
                  <p class="howworks__step-txt">
                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                  </p>
                </div>
              </div>
            </li>
          </ol>
        </section>

        <section class="app-form">
          <div class="row">
            <div class="col-md-5">
              <div class="app-form__w-app-img">
                <img src="assets/img/iPhoneX.png"
                     srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x"
                     alt=""
                     class="app-form__app-img">
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="the-form">
              
                <form action="/insert/demo" method="post">
                  <p class="the-form__title heading3">
                    Solicita una demo
                  </p>
                  
                  <div class="the-form__group">
                    <label for="name">
                      Nombre
                    </label>
                    <input  class="the-form__input" type="text" id="nombre" name="nombre" placeholder="Carlos"/>

                  </div>

                  <div class="the-form__group">
                    <label for="name">
                      Email
                    </label>
                    <input type="email"
                          name="email"
                          id="email"
                          class="the-form__input"
                          placeholder="vincent@mga.com">
                  </div>

                  <div class="the-form__group">
                    <label for="city">
                      Ciudad
                    </label>
                     <input type="text"
                          name="ciudad"
                          id="ciudad"
                          class="the-form__input"
                          placeholder="Madrid">
                  </div>
                  <div class="the-form__group the-form__group_checkbox">
                    <input type="checkbox"
                          id="privacity">
                    <label for="privacity">
                      Aceptas la <a href="#">política de privacidad</a>
                    </label>
                  </div>
                  

                  <input type="submit"
                        class="the-form__btn btn btn-lg btn-primary"
                        value="Enviar">
                  <a class="btn btn-primary button-h" href="/solicitudes">Ver Solicitudes</a>

                </form>
                <div class="row">
</div>
              </div>
            </div>
          </div>
        </section>
        {% block opinion %}
        {% endblock %}

        <section class="opinions">
        <div class="home-button">
              <a class="btn btn-primary button-p" href="/showForm">Danos tu opinión</a>
          </div>
          <h2 class="opinions__title heading2">
            Opiniones de otros guardianes
          </h2>
          <ul class="row ">
                    {% for opinion in opinions %}

            <li class="col-md-4">
              <div class="opinion">
                <blockquote class="opinion__blq simple-bubble text-large">
               {{opinion.comentario}} 
                </blockquote>
                <p class="opinion__author text-large">
                {{opinion.autor}}    
                </p>
                <p class="opinion__author-address">
                   {{opinion.ciudad}}
                </p>
              </div>
            </li>
            {% endfor %}

          </ul>
        

        </section>
      </div>  
    </div>
{% endblock %}
  </main>








  <footer class="footer">
    <div class="wrapper">
      <div class="container-fluid">
        <img src="assets/img/logo.svg"
            alt="Maleteo"
            class="footer__logo">
        <p class="footer__claim">
          Hecho con ❤️en Madrid
        </p>
      </div>
    </div>
  </footer>
</body>

</html>