 {% extends 'maleteo/base.html.twig'%}
 {% block body %}

    <div class="container-opinion">
         <div>
            <h3>
            Gracias por su opinion
            </h3>
         </div>
    </div>

{% endblock %}
