 {% extends 'maleteo/base.html.twig'%}
 {% block body %}
 <div class="container-opinion">
    <div class="opinion">
      <form action="insert/opinion" method="post">
                  <p class="the-form__title heading3">
                    Introduce tu Opinion
                  </p>
                  
                  <div class="the-form__group">
                    <label for="name">
                      Comentario
                    </label>
                    <input  class="the-form__input" type="text" id="comentario" name="comentario"/>

                  </div>

                  <div class="the-form__group">
                    <label for="name">
                      Nombre
                    </label>
                    <input type="text"
                          name="autor"
                          id="autor"
                          class="the-form__input">
                  </div>

                  <div class="the-form__group">
                    <label for="city">
                      Ciudad
                    </label>
                     <input type="text"
                          name="ciudad"
                          id="ciudad"
                          class="the-form__input">
                  </div>
                  <input type="submit"
                        class="the-form__btn btn btn-lg btn-primary"
                        value="Enviar">
                </form>
              </div>
          </div>
          <div class="home-button">
              <a class="btn btn-primary button-p" href="/maleteo">Volver</a>
          </div>

{% endblock %}
