 {% extends 'maleteo/base.html.twig'%}

{% block body %}
 <div class="home-button">
              <a class="btn btn-primary button-p" href="/maleteo">Volver</a>
          </div>
{% for demo in demos %}

<div class="demo-list">
        <ul class="demo-ul">
            <li class="demo-li">
              <p >Nombre:
               {{demo.nombre}}
               </p>
                <p class="">Email:
                {{demo.email}}    
                </p>
                <p class="opinion__author-address">Ciudad
                   {{demo.ciudad}}
                </p>
              </div>
            </li>
            </ul>
        </div>
            {% endfor %}
{% endblock %}

