{% extends 'maleteo/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="log">
<form  method="post">
    {% if error %}
        <div class="alert alert-danger ">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="the-form__group">
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="the-form__input" required autofocus>
    </div>
    <div class="the-form__group">
    <label for="inputPassword">Contraseña</label>
    <input type="password" name="password" id="inputPassword" class="the-form__input" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    
    <button class="btn btn-lg btn-primary" type="submit">
        Entrar
    </button>
</form>
</div>
{% endblock %}
