{% extends 'maleteo/base.html.twig' %}
{% block body %}
    
                  
    
  <div class="log">
   <form action="/register" method="post">
                  <p class="the-form__title heading3">
                    Introduce los datos del registro
                  </p>
                  <div class="the-form__group">
                    <label for="email">
                      Email
                    </label>
                    <input type="email"
                          name="email"
                          id="email"
                          class="the-form__input"
                          placeholder="vincent@mga.com">
                  </div>

                  <div class="the-form__group">
                    <label for="password">
                      Contraseña
                    </label>
                     <input type="password"
                          name="password"
                          id="password"
                          class="the-form__input"
                          placeholder="vincent@mga.com">
                  </div>
                  <input type="submit"
                        class="the-form__btn btn btn-lg btn-primary"
                        value="Registrarse">
                </form>
  </div>
      
{% endblock %}
